.css-1wrcr25{
    background-image: url("https://cdn.pixabay.com/photo/2018/04/29/01/22/tea-plantation-3358870_1280.jpg");
        background-size: cover;
        background-repeat: no-repeat;
}
.css-n7sc4 {
    display: none;
}
.css-uf99v8{
     user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
.css-sf29gv{
display: none;
}

.css-1pesibo{
color: white;
}

