.css-1wrcr25{
    background: black;
}

.css-n7sc4 {
    display: none;
}
.css-uf99v8{
     user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}